
.featured-product{
    border: solid 1px red;
    margin-top: 200px;
}
.phone-product-featured, .tv-loa-product-featured, .appliances-product-featured{
    border: solid;
    height: 1000px;
}
.phone-product-featured{
    background: #f4f4f4;
    text-align: center;
    overflow: hidden;
}
.key-feature, .tab-item-phone{
    border: 1px solid;
}
.tab-item-phone ul{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.tab-item-phone .tab-item button{
    margin: 0 20px;
    font-weight: bold;
    width: auto;
    background: none;
    border: none;
    border-radius: 20px;
    position: relative;
}
.tab-item-phone .tab-item button:after{
    content: "";
    background: black;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.4s all ease-in-out;
    transform: scaleX(0);
}
.tab-item-phone .tab-item button:hover{
    background: rgba(211, 211, 211, 0.2);
}
.tab-item-phone .tab-item button:hover::after{
    transform: scaleX(1);
}
.item-key-featured{
    position: relative;
}
.item-phone img{
    width: 100%;
}
.item-phone #s24-ultra{
    position: absolute;
    left: 0;
}
#s24-ultra{
    visibility: visible;
    transition: 0.4s all ease-in-out;
    transform: translateX(0);
}
#s24-s24plus, #flip-5, #fold-5, #tab-s9{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    transform: translateX(0);
    transition: 0.4s all ease-in-out;
}
.title-item-phone{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.title-item-phone {
    line-height: 0.5;
}
.title-item-phone a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
}
.title-item-phone a:after{
    content: "";
    background: black;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s all ease-in-out;
    transform: scaleX(0);
}
.title-item-phone a:hover::after{
    transform: scaleX(1);
}
.title-item-phone button{
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    transition: 0.4s all ease-in-out;
}
.title-item-phone button:hover{
    background: rgba(0, 0, 0, 0.63);
}