*{
    box-sizing: border-box;
    margin: 0;
}
[class^="col-"]{
    /*border: solid 1px;*/
    position: relative;
}
[class^="col-"] img{
    width: 100px;
    margin-top: 19px;
}
.header{
    height: 64px;
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 5px;
}
li{
    list-style-type: none;
}
.nav {
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}
.nav:hover {
    background: black;
    color: white;
    text-decoration: none;
}
.nav-icon img{
    width: 25px;
    margin: 0;
}
.dropdown-menu{
    border: 1px solid;
    margin-top: 5px;
    display: none;
    border-radius: 0 0 20px 20px;
    cursor: context-menu;
}
/*.item-nav{*/
/*    font-weight: bold;*/
/*}*/
.dropdown-item .item-nav{
    font-weight: initial;
}
li{
    line-height: 2;
}
.ai .dropdown-item{
    font-weight: normal;
}
.phone .dropdown-item{
    font-weight: normal;
}
.container-feature{
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-item .fea{
    background: rgba(211, 211, 211, 0.15);
    border-radius: 20px;
    margin: 10px;
}
.icon{
    background: blue;
    color: white;
    border-radius: 20px;
    font-weight: normal;
}
/*.fea:hover .icon{*/
/*    font-weight: bold;*/
/*}*/
.fea .img-feature img{
    margin-bottom: 5px;
    transition: 0.4s;
}
.fea:hover .img-feature img{
    transform: scale(1.2);
}
p{
    font-size: 12px;
    text-align: center;
}
.icon-item-new{
    width: 20px;
    background: #2187fc;
    color: white;
    border-radius: 20px;
}
.icon-item-attractive{
    width: 20px;
    background: #ef3434;
    border-radius: 20px;
    color: white;
}
.dropdown:hover .dropdown-menu{
    display: flex;
    /*flex-wrap: wrap;*/
    /*gap: 10px;*/
}
/*#ho-tro{*/
/*    border: 1px solid;*/
/*    margin-top: 5px;*/
/*    display: none;*/
/*    border-radius: 0 0 20px 20px;*/
/*    cursor: context-menu;*/
/*}*/
/*.dropdown:hover #ho-tro{*/
/*    display: flex;*/
/*}*/
.item-nav a{
    color: black;
    font-size: 15px;
}
.item-nav a:hover{
    text-decoration: none;
    font-weight: bold;
}
.dropdown-item{
    color: black;
    font-weight: bold;
}
.dropdown-item a{
    color: black;
}
.dropdown-item a:hover{
    text-decoration: none;
    font-weight: bold;
}
.dropdown:hover .ai{
    display: block;
}
.dropdown:hover .phone{
    display: block;
}
.phone-feature .dropdown-menu{
    display: flex;
}
.dropdown:hover .phone-feature{
    display: flex;
}
.move-dropdown{
    position: absolute;
    width: 500px;

}
@media only screen and (max-width : 1800px) {
    .col-8 > .nav-bar{
        display: none;
    }
    
}